/* A simple link to allow css to use the beautiful Anonymous Pro font from the web */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* 

Simple way to wipe the slate clean, or "remettre les compteurs à zéro" as French people like to say. 
It sets all the values (with the litle star "*" which means "all")of space (margin and padding) in the page to 0 

*/

* {
    margin: 0px;
    padding: 0px;
}

/* 

By this way, I simply give to my pages a beautiful free background from Unsplash
Link : "https://unsplash.com/photos/DjlKxYFJlTc" (Thank you Elliott Engelmann ! :) )

*/

html {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

/* 

The following style is applied to the most important part of all the pages : the center div,
which has "info_square" as class (cf. *.html). The corners are created by the 42th line : "border-radius: 25px;".

*/

.info_square {
    width: 50%;
    margin: 0 auto;
    padding: 0 0 4vw 0;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
}

/* 

The next style is used to corner the top corners of the home div's image, with the same tools'family that in the previous style :

    - "border-...-radius"

    --> when there is nothing in the "...", all corners are rounded,
        when there is "top" in the "...", all top corners are rounded,
        and when there is "top-right" in the "...", only the top right corner is rounded.
        It works also with the bottom corners !!!

*/

#home_img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}



/* 

In the nav style, I add some style to the top menu (which allows us to have an easy access to the other pages of the website).

*/

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: rgba(0,0,0,0.5);
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li {
    display: inline;
    margin-left: 2vw;
}

/*

The two following @media style are used to make the website the most responsive it can be. Responsive means that the website must
be usable on a computer/laptop as a smartphone/Iphone, taking the width's differences into consideration.

    --> So I set two types of devices. The first one has a screen max screen width of 500 pixels, and the second (at the 158th line)
        has a minimum screen width of 501 pixels.

And the code is a little bit different between the two device's types !

*/

@media (max-width: 500px) {

    /* The next style set the style only for "a" in "nav" (so it's different than an normal "a") */

    nav a{
        display: inline-block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid transparent;
        padding: 2vw 0;
        font-family: Anonymous Pro;
        font-size: 10px;
    }

    /* 

    The four next styles (h3, h1, p and a (with a::hover)) are here to decorate all the text content of the website (colors, fonts, size).

        --> I have used my two favorite fonts : Monospace (later in the style) and Anonymous Pro. They give a "dark hacker" style to the pages !

    */

    h3 {
        color: #fff;
        font-family: Anonymous Pro;
        text-align: justify;
        width: 80%;
        margin: 0 auto;
        padding: 20px 20px;
        font-size: 10px;
    }
    
    h1 {
        color: #fff;
        font-family: Anonymous Pro;
        text-align: justify;
        width: 80%;
        margin: 0 auto;
        padding: 20px 20px;
        font-size: 10px;
    }
    
    p {
        color: #fff;
        font-family: Anonymous Pro;
        text-align: justify;
        margin: 0 auto;
        padding: 20px 20px;
        font-size: 10px;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    a:hover {
        color: orange;
    }
  }

@media (min-width: 501px) {

    /* The next style set the style only for "a" in "nav" (so it's different than an normal "a") */

    nav a{
        display: inline-block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid transparent;
        padding: 2vw 0;
        font-family: Anonymous Pro;
        font-size: 15px;
    }

    /* 

    The four next styles (h3, h1, p and a (with a::hover)) are here to decorate all the text content of the website (colors, fonts, size).

        --> I have used my two favorite fonts : Monospace and Anonymous Pro (later in the style). They give a "dark hacker" style to the pages !

    */

    h3 {
        color: #fff;
        font-family: Anonymous Pro;
        text-align: justify;
        width: 80%;
        margin: 0 auto;
        padding: 20px 20px;
        font-size: 15px;
    }

    h1 {
        color: #fff;
        font-family: Anonymous Pro;
        text-align: justify;
        width: 80%;
        margin: 0 auto;
        padding: 20px 20px;
        font-size: 15px;
    }

    p {
        color: #fff;
        font-family: Anonymous Pro;
        text-align: justify;
        margin: 0 auto;
        padding: 20px 20px;
        font-size: 15px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    a:hover {
        color: orange;
    }
}

/* The following style give some color to some words of the text */

#stp_wz {
    color: orange;
}

/* 

The next styles starting with "#nav_banner ..." are here to decorate the website with a simple banner (which can send you to Wikipedia)
containing two images, and, between them, an magic animation made out of simple css...

*/

#nav_banner {
    background-color: rgba(0,0,0,0.75);
    margin: 2vw auto;
    width: 100%;
    align-items: center;
}

#nav_banner ul {
    list-style-type:none;
    margin:auto;
    padding:0;
    position:relative;
    display: flex;
    align-items: center;
    }

#nav_banner li {
    display: inline-block;
}

/* 

These styles ("#site_info ...") give some style to the footer of all the pages which contains some links to my Gitlab profile, 
to send me an email, or to go to the project page (on Gitlab)

*/

#site_info {
    background-color: #6A8D73;
    margin-top: 2vw;
    text-align: center;
    font-family: Anonymous Pro;
	position: static;
	bottom: 0;
}

#site_info li {
    display: inline-block;
    padding: 5vw;
}

#slide {
    display: none;
}

.quiz {
    display: none;
    color: #fff;
}

/* 

Now, let's play a simple game ! 
Are you able to understand what the next styles do ?

    --> Explore the html to find which elements are stylized by these next lines...

*/

#right {
    margin: 2vw;
    width: 20vw;
}

#left {
    margin: 2vw;
    width: 20vw;
    
}

#right_li {
    position:absolute;
    right: 0;
}

#middle_li {
    width: 50%;
}

#middle_li p {
    line-height: 34px;
    height: 35px;
}

.s_button {
    position: absolute;  left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #8CD867;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bolder;
}

#score {
    text-align: center;
}

#nav_r {
    float: right;
    margin-right: 2vw;
	
    /* Something is hidden... */
    /* Quelque-chose est caché... */
	
    display: none;
}

/* 

The following style controls a simple "typewriter" like animation, with letters which appear one after the other,
and a simple cursor which blinks.

*/

#nav_banner .text{
    color: orange; /* I set here a beautiful color for the text */
    text-align: center; /* I align here my beautiful colored text */
    overflow: hidden; /* I hide what will appear */
    position: relative; /* I set position of the text */
    border-right: 0.15vw solid orange; /* I set here a beautiful color and width for the animated cursor (which is my li's border) */
    font-size: 2vw; /* I resize here my beautiful colored text */
    font-weight: bold; /* I grow up here my beautiful colored text */
    font-family: monospace, monospace; /* I set here a beautiful font for the text */
    white-space: nowrap; /* I set here my text on one line */
    animation:  typewriter 5s steps(34) 1s 1 normal both,
                blinkTextCursor 0.5s steps(34) infinite normal;
    /*                  |         |      |         |       |
                        |         |      |         |       |
                        /         |      \      Number of  \
                       /    My animation  \      cycles     \
                      /       duration     \                 \
                     /                   All steps of       Direction of my
                    /                    my animation           animation
        My animation name
    */
}

@keyframes typewriter {
    from {width: 0;}
    to {width: 20em;}
}

@keyframes blinkTextCursor {
    from {border-right-color: orange;}
    to {border-right-color: transparent;}
}